/* -------------------------------------------

Name: 		Builty
Version:    1.0
Author:		bslthemes
Author URL: https://bslthemes.com/
Email: beshleyua@gmail.com

------------------------------------------- */

@import 'variables.module';
@import 'basic';
@import 'basic-dark';
@import 'color';
@import 'responsive';
@import 'custom';